name: $(BuildID)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - 'backend/*'
      - 'frontend/*'
      - 'gamestate/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from '/' root folder."